
*.bin
*.lock
*.ser
*.json
*.png
*.xml
*.class
*.jar
*.aidl
*.zip
*.properties
*.iml
*.gradle
*.bat
CarParkManagementApplication/gradlew
*.txt
*.jpg
*.dex
*.apk
*.pro
*.marker
*.ap_
*.store
CarParkManagementApplication/TobbETUCarParkManagementApp/build/generated/source/r/debug/android/support/design/R.java
CarParkManagementApplication/TobbETUCarParkManagementApp/build/generated/source/r/debug/android/support/v7/appcompat/R.java
CarParkManagementApplication/TobbETUCarParkManagementApp/build/generated/source/r/debug/com/parse/starter/R.java
